.navbar-container {
  background-color: blue;
}

.navBar {
  padding: 0;
}

.navbar-brand {
  margin-top: 5px;
  padding-left: 10px;
}

.navbar-brand > h2 {
  font-weight: bold;
}

.mr-auto {
  margin-top: 5px;
  height: 100%;
}

.navbar-text {
  margin-right: 20px;
  padding-top: 0 !important;
}

.navBar__formInput {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navBar__button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navBar__button + .navBar__button {
  margin-left: 10px;
}

@media screen and (max-width: 550px) {
  .navBar__formInput {
    margin-right: 0px;
  }
}
